import os, shutil
src = {{ export_source | tojson }}
dst_dir = {{ remote_agent_dir | tojson }}
dst = {{ remote_agent_path | tojson }}
os.makedirs(dst_dir, exist_ok=True)
shutil.copy2(src, dst)
print('Installed agent to ' + dst)
