import winreg
key_path = r'{{ reg_key }}'
value_name = r'{{ reg_name }}'
command = '{{ command }}'
key = winreg.OpenKey(
    winreg.HKEY_LOCAL_MACHINE,
    key_path,
    0,
    winreg.KEY_SET_VALUE,
)
try:
    winreg.SetValueEx(key, value_name, 0, winreg.REG_SZ, command)
finally:
    winreg.CloseKey(key)
result = {
    'installed': True,
    'reg_key': 'HKLM\\' + key_path,
    'value_name': value_name,
    'command': command,
}
