@echo off
if not exist C:\xpctl mkdir C:\xpctl
copy /Y "{{ export_dir }}\agent.py" "C:\xpctl\agent.py"
start "" C:\Python34\python.exe C:\xpctl\agent.py --port {{ port }}
echo Agent started on port {{ port }}
timeout /t 3
